$border: (
    'normal': 1px solid black,
);
$background: (
    'white': white,
    'black': black,
);

$flex-justify: ('space-between', 'center', 'space-around');
$flex-align: ('center');
$direction: ('column');
$sides: ('left', 'right', 'top', 'bottom', '');
$float: ('left', 'right');
$align: ('center', 'right');
$position: ('relative', 'absolute', 'fixed', 'static');
$display: ('inline-block', 'table', 'table-cell');
$vertical-align: ('middle');

.flex {
    display: flex;

    @each $j in $flex-justify {
        &.flex-justify-#{$j} {
            justify-content: #{$j};
        }
    }

    @each $a in $flex-align {
        &.flex-align-#{$a} {
            align-items: #{$a};
        }
    }

    @each $d in $direction {
        &.direction-#{$d} {
            flex-direction: #{$d};
        }
    }
}

.grid {
    display: grid;
}

.fixsize {
    flex: none;
}

@each $f in $float {
    .float-#{$f} {
        float: #{$f};
    }
}

@each $a in $align {
    .align-#{$a} {
        text-align: #{$a};
    }
}

@each $va in $vertical-align {
    .align-#{$va} {
        vertical-align: #{$va};
    }
}

@each $d in $display {
    .display-#{$d} {
        display: #{$d};
    }
}

@each $p in $position {
    .position-#{$p} {
        position: #{$p};
    }
}

@each $n, $b in $background {
    .background-#{$n} {
        background: #{$b};
    }
}

@each $n, $b in $border {
    @each $p in $sides {
        @if $p == '' {
            .border-#{$n} {
                border: $b;
            }
        } @else {
            .border-#{$n}-#{$p} {
                border-#{$p}: $b;
            }
        }
    }
}

ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}
