$unit: 8px;
$border: (
    'normal': 1px solid black,
);

$flex-justify: ('space-between', 'center');
$flex-align: ('center');
$direction: ('column');
$sides: ('left', 'right', 'top', 'bottom', '');
$float: ('left', 'right');
$align: ('center', 'right');

$units: ();
@for $i from 1 through 40 {
    $units: append($units, $i);
}
$units: append($units, 'full');

.flex {
    display: flex;

    @each $j in $flex-justify {
        &.flex-justify-#{$j} {
            justify-content: #{$j};
        }
    }

    @each $a in $flex-align {
        &.flex-align-#{$a} {
            align-items: #{$a};
        }
    }

    @each $d in $direction {
        &.direction-#{$d} {
            flex-direction: #{$d};
        }
    }
}

.fixsize {
    flex: none;
}

@each $f in $float {
    .float-#{$f} {
        float: #{$f};
    }
}

@each $a in $align {
    .align-#{$a} {
        text-align: #{$a};
    }
}

@each $h in $units {
    @if $h == 'full' {
        .height-full {
            height: 100%;
        }
        .width-full {
            width: 100%;
        }
    } @else {
        $uv: $h * $unit;

        .height-#{$h} {
            height: $uv;
        }
        .width-#{$h} {
            width: $uv;
        }
        @each $p in $sides {
            @if $p == '' {
                .padding-#{$h} {
                    padding: $uv;
                }
            } @else {
                .padding-#{$h}-#{$p} {
                    padding-#{$p}: $uv;
                }
            }
        }
    }
}

@each $n, $b in $border {
    @each $p in $sides {
        @if $p == '' {
            .border-#{$n} {
                border: $b;
            }
        } @else {
            .border-#{$n}-#{$p} {
                border-#{$p}: $b;
            }
        }
    }
}

ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}
