/***********************************
나눔고딕 / 네이버
font-family: 'Nanum Gothic';
***********************************/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/***********************************
나눔스퀘어라운드 / 네이버
font-family: 'NanumSquareRound';
***********************************/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***********************************
나눔명조 / 네이버
font-family: 'Nanum Myeongjo';
***********************************/
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/***********************************
 / 
font-family: '';
***********************************/
