@import '../common.scss';

$aside_width: 256px;

.broadcast {
    @at-root {
        header#{&} {
            height: $height;
            border-bottom: $border;
            width: 100%;
            flex: 0 0 $height;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        aside#{&} {
            float: left;
            width: $aside_width;
            border-right: $border;
            flex: 0 0 $aside_width;
        }

        main#{&} {
            float: right;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        article#{&} {
            height: 100%;
        }

        footer#{&} {
            height: $height;
            flex: 0 0 $height;
            border-top: $border;
            display: flex;
            justify-content: space-between;
        }

        div.flex#{&} {
            height: 100%;
            width: 100%;
        }
    }
}
